
body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

a { text-decoration: none; }


header{ text-align: right; }

header a { color: #462b7f; }
    

.menuLateral {
    width: 150px;
    height: 100vh;
    background-color: #462b7f;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0; 
    left: 0; 
    font-size: 20px;
}

.menuLateral  a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


main {
    margin-left: 200px;
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

main.expandir { margin-left: 60px; }

form {
    width: 60%;
    min-width: 450px;
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
}

form label {
    display: inline-block;
    width: calc(20% - 30px);
    text-align: left;
    margin: 10px;
}

form p.erro{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0px;
    background-color: rgb(255, 190, 190);
    color: rgb(86, 2, 2);
    text-align: center;
}

form p.sucesso{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0px;
    background-color: rgb(190, 255, 212);
    color: rgb(2, 86, 41);
    text-align: center;
}

form input {
    width: calc(80% - 22px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #d1bbfe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}


button[type="reset"]{ background-color: #462b7f; }
button[type="reset"]:hover{ background-color: #692b7f; }

form button:hover { background-color: #8b55fd; }
/* Fim Usuário*/
/* Início Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: rgb(27, 102, 168);
    color: white;
}

table tr td:last-child{
    width: 90px;
    text-align: center;
}

table th:last-child{text-align: center; }

table tr:nth-child(even) {background-color: #eee; }

table td a{
    font-weight: bold;
    color: rgb(27, 102, 168); 
}

table td a:hover{ color: rgb(7, 60, 105); }

table td a:last-child{
    color: rgb(186, 36, 36);
    margin-left: 10px;
}
table td a:last-child:hover{ color: rgb(133, 11, 11); }

#orcamentos table tr th:last-child{ min-width: 200px;}
